<div class="order" data-status="<%= order.status %>">
  <span class="ribbon"></span>
  <div class="products_details">
    <h3 id="<%= order.id %>"><%= order.formatted_html_product_names %></h3>
  </div>
</div>