<header>
  Lupa
</header>
<main>
  <!-- <h1>Resteuracja test</h1> -->
  <!-- <hr>
  <article>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque erat, aliquam nec accumsan ut, iaculis vitae ligula. Maecenas eget ligula at purus rutrum congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis rutrum nisl vel tortor condimentum eleifend. Cras rutrum sapien a tincidunt auctor. Vestibulum a lectus viverra, semper leo eu, suscipit nisi. Mauris erat lorem, efficitur ac tempus et, vestibulum sed mi. Sed suscipit risus lorem, at tincidunt nunc maximus ac. Sed tristique ut elit eu tempor. Aliquam et pellentesque quam. Cras est magna, finibus in eros vel, tincidunt imperdiet massa. Integer id euismod est. Pellentesque quis molestie dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse lectus sapien, fringilla vel egestas in, vulputate vel nibh.
  </article> -->
  <h2>Dania główne</h2>
  <hr class="light">
  <div class="thing">
    <div class="thing-block">
      <div class="thing-title">
        Pizza hawajska
      </div>
      <div class="thing-description">
        Sos pomidorowy, ser, ananas, szynka
      </div>
    </div>
    <div class="thing-add">
      <i class="add material-icons">add</i>
    </div>
  </div>
  <div class="thing">
    <div class="thing-block">
      <div class="thing-title">
        Pizza hawajska
      </div>
      <div class="thing-description">
        Sos pomidorowy, ser, ananas, szynka
      </div>
    </div>
    <div class="thing-add">
      <i class="add material-icons">add</i>
    </div>
  </div>
  <div class="thing">
    <div class="thing-block">
      <div class="thing-title">
        Pizza hawajska
      </div>
      <div class="thing-description">
        Sos pomidorowy, ser, ananas, szynka
      </div>
    </div>
    <div class="thing-add">
      <i class="add material-icons">add</i>
    </div>
  </div>
  <h2>Pizza</h2>
  <hr class="light">
  <div class="thing">
    <div class="thing-block">
      <div class="thing-title">
        Pizza hawajska
      </div>
      <div class="thing-description">
        Sos pomidorowy, ser, ananas, szynka
      </div>
    </div>
    <div class="thing-add">
      <i class="add material-icons">add</i>
    </div>
  </div>
  <div class="thing">
    <div class="thing-block">
      <div class="thing-title">
        Pizza hawajska
      </div>
      <div class="thing-description">
        Sos pomidorowy, ser, ananas, szynka
      </div>
    </div>
    <div class="thing-add">
      <i class="add material-icons">add</i>
    </div>
  </div>
  <div class="thing">
    <div class="thing-block">
      <div class="thing-title">
        Pizza hawajska
      </div>
      <div class="thing-description">
        Sos pomidorowy, ser, ananas, szynka
      </div>
    </div>
    <div class="thing-add">
      <i class="add material-icons">add</i>
    </div>
  </div>
  <div class="thing">
    <div class="thing-block">
      <div class="thing-title">
        Pizza hawajska
      </div>
      <div class="thing-description">
        Sos pomidorowy, ser, ananas, szynka
      </div>
    </div>
    <div class="thing-add">
      <i class="add material-icons">add</i>
    </div>
  </div>
</main>
<footer>
  Lupa 2022
</footer>
