@import 'select2.min.css';
@import 'settings.sass.scss';
@import 'cart.sass.scss';
@import 'loading.sass.scss';
@import 'dragula.min.css';

$border-color: #dadada;

.orders-table {
  margin: 0 auto;
  display: flex;
  gap: 2em;
  justify-content: center;

  .category {
    display: flex;
    flex-direction: column;
    background-color: #F4F5F7;
    border-radius: 8px;
    width: 18em;
    height: 26em;
    text-align: center;
    border: 1px solid lightgray;

    .header {
      border-bottom: 1px solid lightgray;
    }

    .orders {
      flex: 1;
      overflow-y: scroll;
      padding: 0.2em;

      &.drop-active {
        background-color: #FE9018;
      }

      .order {
        background-color: #ffffff;
        display: flex;
        border-radius: 6px;
        margin: 2px 0;
        -webkit-box-shadow: 0px 1px 3px 0px #868686;
        -moz-box-shadow: 0px 1px 3px 0px #868686;
        box-shadow: 0px 1px 3px 0px #868686;

        .ribbon {
          width: 2em;
          background-color: #6ED54B;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        .products_details {
          padding: 0.75em;

          h3 {
            margin: 0;
            text-align: left;
          }
        }
      }
    }
  }
}

.shop-body {
  height: 0;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
  color: #333;

  main {
    overflow-y: scroll;
    width: 80%;
  }
}

aside {
  border-left: 1px solid #d0d0d0;
  width: 20%;
  -webkit-box-shadow: -2px 0px 60px 0px rgba(66, 68, 90, 0.3);
  -moz-box-shadow: -2px 0px 60px 0px rgba(66, 68, 90, 0.3);
  box-shadow: -2px 0px 60px 0px rgba(66, 68, 90, 0.3);
  z-index: 1;

  h2 {
    margin: 0;
    text-align: center;
    padding: 0;
  }

  h5 {
    color: gray;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }

  .confirmation-dialog {
    width: 38em;
    height: 18em;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .buttons {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 2em;

      button {
        background-color: #707070;
        color: white;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        width: 30%;
        opacity: 0.9;
      }

      .confirm {
        background-color: $theme-color;
      }

      .cancel {
        background-color: #f44336;
      }
    }
  }
}

.dishes {
  background-color: #F6F6F6;
  padding: 1em clamp(20px, 20vw, 40px);

  h2 {
    margin: 0 0 0.5em 0;
  }

  .dishes-list {
    display: flex;
    flex-wrap: wrap;
    // TODO: Fix uneven alignment of items
    justify-content: space-between;
    gap: 1em;

    .dish {
      display: flex;
      flex-direction: column;
      max-width: 30%;
      border-radius: 6px;
      margin: 0 0 0.3em 0;
      background-color: white;
      -webkit-box-shadow: 0 0 1px 0 rgba(66, 68, 90, 1);
      -moz-box-shadow: 0 0 1px 0 rgba(66, 68, 90, 1);
      //box-shadow: 0 0 1px 0 rgba(66, 68, 90, 1);
      box-shadow: 0 0 10px 1px rgba(66, 68, 90, 0.1);

      .dish__name{
        font-size: clamp(16px, 8vw, 24px);
        line-height: 1.1;
      }

      .image {
        max-height: 10em;
        flex: 1;
      }

      img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .details {
        display: flex;
        flex-direction: column;
        padding: 0.4em 0.8em;

        .row {
          display: flex;
          justify-content: space-between;

          .btn {
            padding: 0.5em 1.5em;
            border: none;
          }
        }

        .description {
          padding: 0.1em 0 0.4em 0;
          font-size: 0.7em;
          color: #666666;
        }
      }
    }
  }
}

.categories {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid $border-color;
  background: white;
  position: sticky;
  top: 0;


  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0 4em;

    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar{
      display: none;
    }


    li {
      padding: 0.8em 1.4em;
      text-align: center;

      &:first-child{
        min-width: 100px;
      }

      &.selected {
        background-color: $theme-color;
        color: white;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  h3 {
    margin: 0;
    font-weight: normal;
  }
}

aside {
  turbo-frame {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.space-filler {
  flex: 1;
}

.finished-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-footer {
  bottom: 0;

  .cart-price {
    background: white;
    display: flex;
    padding: 0.2em 1em;
    border-top: 1px solid $border-color;
    justify-content: space-between;

    span {
      font-size: 0.9em;
    }
  }

  .checkout-btn {
    width: 100%;
    min-height: 4em;
    height: 4em;
    border-top: 1px solid $border-color;
    background: $theme-color;

    .btn {
      border-radius: 0;
    }

    &.disabled {
      background: lightgray;
      pointer-events: none;

      .btn {
        background: lightgray;
      }

      &:hover {
        cursor: initial;
        background: lightgray;
      }
    }
  }

  .split-btn {
    display: flex;
    gap: 1px;
    min-height: 4em;

    .checkout-btn {
      font-size: 0.8em;
      min-height: initial;
      height: initial;

      a {
        text-decoration: none;
        text-align: center;
      }
    }
  }

  form {
    width: 100%;
    height: 100%;
  }

  .btn {
    font-size: 1.2em;
    width: 100%;
    height: 100%;
  }

  p {
    margin: 0;
  }
}

.cart-title {
  padding: 0.6em 0;
  border-bottom: 1px solid $border-color;
}

.cart-products {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .content {
    display: flex;
    position: relative;

    .image {
      position: absolute;
      height: 100%;

      img {
        height: 100%;
        width: 5em;
        object-fit: cover;
        border-right: 1px solid $border-color;
      }
    }

    .description {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0.3em 1em 0.3em 6em;

      p {
        margin: 0;
      }

      .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .category {
          color: #cbcbcb;
          font-size: 0.9em;
        }

        .price {
          color: #6ED54B;
          font-size: 0.9em;
        }
      }
    }
  }

  .actions {
    padding: 0.5em 1em 0.5em 0.35em;
    display: flex;
    justify-content: space-between;

    .count {
      display: flex;
      align-items: center;
      gap: 0.4em;

      form {
        width: 100%;
        height: 100%;
        border-radius: 5em;

        &:hover {
          background: #ddd;
        }
      }

      button {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      img {
        filter: invert(1);
        border-radius: 100%;
        width: 100%;
        height: 100%;
        padding: 0.2em;

        &:hover {
          cursor: pointer;
        }
      }

      span {
        user-select: none;
      }
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid $border-color;
    width: 100%;
    margin: 0;

    &.thin {
      border-bottom: 1px solid lightgray;
    }
  }
}

.btn {
  background-color: $theme-color;
  color: white;
  padding: 0.5em 1em;
  font-size: 0.75em;
  border-radius: 6px;
  border: none;
  transition: background-color .15s;

  &:hover {
    cursor: pointer;
    background-color: #ffa23f;
  }
}

article {
  display: flex;
  justify-content: center;
  width: 50vw;
  padding: 15px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.5em;
  font-size: 4rem;
  width: 100%;
  color: white;

  text-shadow: 3px 0px 7px rgba(81,67,21,0.8),
  -3px 0px 7px rgba(81,67,21,0.8),
  0px 4px 7px rgba(81,67,21,0.8);

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.thing {
  display: flex;
  background: #999;
  height: 75px;
  width: 50vw;
  min-width: 500px;
  margin: 5px;
}

.thing-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #777;
  width: 45vw;
  min-width: 450px;
}

.thing-title {
  display: flex;
  font-size: 1.3rem;
}

.thing-description {
  display: flex;
  padding: 5px;
  font-size: 0.9rem;
}

.thing-add {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

footer {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  color: white;
  background: #333;
  margin-top: 50px;
}

.light {
  border: 1px solid #444;
  width: 20vw;
  min-width: 50px;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 5px;
  margin: 0;
}

.aside_open_label{
  display: none;
}

.hidden{
  display: none;
}


@media screen and (max-width: 1700px) {
  aside{
    position: fixed;
    right: -300px;
    bottom: 0;
    transition: all .3s ease;
    min-width: 300px;
  }

  .shop-body main{
    width: 100%;
  }

  .aside_open_label{
    display: block;
    width: 40px;
    height: 40px;
    background-color: yellow;
    cursor: pointer;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 10;
    transition: all .3s ease;
    border-radius: 6px;
  }

  .aside_open:checked {
    & ~ .aside_open_label {
      right: 25%;
      transition: all .3s ease;
    }

    & ~ aside{
      right: 0;
      background-color: white;
      transition: all .3s ease;
    }
  }

}

@media screen and (max-width: 1300px) {
  .aside_open:checked {
    & ~ .aside_open_label {
      right: 320px;
      transition: all .3s ease;
    }
  }
}


@media screen and (max-width: 768px){

  .dishes .dishes-list .dish{
    max-width: 47%;
  }

  .categories {
    position: relative;
    .categories__shadow{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 40px;
      background: linear-gradient(to right, transparent, rgba(#fff , 1));
    }

    ul {

      justify-content: flex-start;
      padding-left: 0;



      li{
        &:first-child{
          padding-left: 10px;
        }
      }

    }
  }
}

@media screen and (max-width: 500px){
  .dishes .dishes-list .dish{
    max-width: 100%;
  }
}
